@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', 'sans-seri';
    outline: none;
    border:none;
    text-decoration: none;
    transition: all .2s linear;
}


.footer {
    background: rgb(98 123 204 / 23%);
    color: rgb(0, 0, 0);
    height: 440px;
    position: relative;
  }
  
  .footer .footer-content {
    height: 350px;
    display: flex;
  }
  
  .footer .footer-content .footer-section {
    flex: 1;
  
    padding: 25px;
  }
  
  .footer .footer-bottom {
    background: black;
    color: #6c63ff;
    height: 30px;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding: 5px;
    text-decoration: underline;
  }
  .page-wrapper {
    min-height: 100%;
  }
  .page-wrapper :hover {
    color: cornflowerblue;
  }
  
  /* about footer */
  
  .footer-section .about {
    text-align: justify;
  }
  .footer-section .social {
    margin: 20px 0 0 0;
  }
  .footer-section .social a {
    padding: 0 2px;
  }
  .footer-section .social a span {
    height: 40px;
    width: 40px;
    background: #1a1a1a;
    color:#6C63FF;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
    transition: 0.3s;
  }
  .footer-section .social a span:hover {
    background: blue;
  }
  
  /* address */
  
  .footer-section .fas {
    font-size: 1.4375rem;
    background: black;
    height: 45px;
    width: 45px;
    line-height: 45px;
    text-align: center;
    border-radius: 50%;
    transition: 0.3s;
    cursor: pointer;
  }
  .footer-section .fas:hover {
    background: #6C63FF;
  }
  .footer-section .text {
    font-size: 1.0625rem;
    font-weight: 500;
    padding-left: 10px;
  }
  .footer-section .phone {
    margin: 15px 0;
  }
  
  /*  contact*/
  
  .footer-section .text {
    font-size: 1.0625rem;
    margin-bottom: 2px;
    color: #656565;
    padding-left: 10px;
  }
  .footer-section .msg {
    margin-top: 10px;
  }
  .footer-section input,
  .footer-section textarea {
    width: 100%;
    font-size: 1.0625rem;
    background: white;
    padding-left: 10px;
    border: 1px solid #222222;
  }
  .footer-section input:focus,
  .footer-section textarea:focus {
    outline-color: #2F2E41;
  }
  .footer-section input {
    height: 35px;
  }
 
  .f-btn{
    border-radius: 10px;
    padding: 5px 8px;
    background: #6c63ff;
    height: 70px;width: 156px;
  }
  
  .f-btn:hover{
    background:#2F2E41;
    color:#fff;
  }
  .footer-section .f-btn {
    margin-top: 10px;
  }
  .footer-section .f-btn button {
    height: 40px;
    width: 100%;
    border: none;
    outline: none;
    background:#6C63FF;
    font-size: 1.0625rem;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s;
  }
  .footer-section .f-btn button:hover {
    background: blue;
  }