.carousel{position: relative;
          margin: 70px 130px 30px 130px;
        
}
.w-100 {
    width: 100%!important;
    height: 60vh;
}
img{
    border-radius: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.right-box{
    border: 1px solid;

}