.carousel{position: relative;
          margin: 70px 130px 30px 130px;
        
}
.w-100 {
    width: 100%!important;
    height: 60vh;
}
img{
    border-radius: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.right-box{
    border: 1px solid;
    box-shadow: rgb(0 0 0 / 12%) 0px 6px 16px;
    

}
.inner-book2 input{
    display: block;
    
    
}
.inner-book2 #d1{border: 1px solid #d1d1d1;
border-radius: 8px;
padding: 5px;
background-color: whitesmoke;
width: 140px;
font-size: 15px;

}
.inner-book2 #d2{border: 1px solid #d1d1d1;
    border-radius: 8px;
    padding: 5px;
    background-color: whitesmoke;
    width: 140px;
    font-size: 15px;
    
    }

    .btn-secondary {
        color: #fff;
        background-color: #673ab7;
        border-color: #6c757d;
        margin-left: 132px;
        font-size: 12px;
    }
    .amount {
        display: flex;
        margin-left: 198px;
    }
    .col {
        display: flex;
        padding: 16px;
        font-weight: lighter;
    }