{% extends 'base.html' %}
{%load static%}
{%block content%}




		<div class="wrapper" >
			<div class="inner">
					<h3>Welcome Host</h3>
					<form action="roomAdd" enctype="multipart/form-data" method="POST">
            {% csrf_token %}  
					<div class="form-wrapper">
						<label for="">Hotel Name</label>
						<div class="drop-down">
							<select id="choose" name="hotel_name">
								{% if data %}
								{% for datas in data %}
								
								<option value="{{datas.hotel_name}}">
									{{ datas.hotel_name }}
								</option>
								{% endfor %}
								{% endif %}
								
							  </select>

						</div>
					</div>
					
					<div class="form-wrapper">
						<label for="">Room Type</label>
						<div class="drop-down">
							<select id="choose" name="room_type">
								<option value="">Single</option>
								<option value="">Double</option>
								
							  </select>

						</div>
					
					
					</div>
					<div class="form-wrapper">
						<label for="">Available From</label>
						<input type="date" name="start_date"class="form-control">
				
						</div>

					<div class="form-wrapper">
							<label for="">Available To</label>
							<input type="date" name="end_date"class="form-control">
					
							</div>
					<div class="form-wrapper">
						<label for="">Place Name</label>
						<input type="text" name="place_name"class="form-control">
				
						</div>
					
						<div class="form-wrapper">
							<label for="">Room No</label>
							<input type="number" name="room_number" class="form-control">
						</div>

					<div class="form-wrapper">
						<label for="">Price *Incl. of all taxes</label>
						<input type="number" name="room_price" class="form-control">
					</div>
					<div class="form-wrapper">
						<label for="">Upload Images</label>
						<input type="file" multiple="" data-max_length="20" name="room_image" class="upload__inputfile">
					</div>
					<div class="form-wrapper">
						<label for="">Description</label>
						<!-- <input type="text" class="form-control-desc"> -->
						<textarea id="story" name="room_desc"
						  rows="5" cols="33">
						</textarea>
					</div>
								
					<button>Register Now</button>
				</form>
      
			</div>
		</div>
{%endblock%}