{% comment %} {%load static%}
{%block css%}
<link rel="stylesheet" href="{%static '/css/footer.css'%}"/>
{%endblock%}
{%block content%}
<!--FOOTER SECTION -->

<footer>
<div class="footer">
  <div class="footer-content">

      <!-- LEFT SIDE -->
      <div class="footer-section address">
        <h2>25 Hours</h2>
        <br>
        <div class="content">
          <div class="place">
            <span class="fas fa-map-marker-alt"></span>
            <span class="text2">The major purpose of my project “25 Hours” is to make a hotel booking web application where there will be several hotel sites on a single site. Through this system, customer users can book hotels room of their choice from a single website with the hotels they prefer throughout Nepal as well as hotel owners can add their hotel rooms.</span>
          </div>
          <div class="phone">
            <span class="fas fa-phone-alt"></span>
            <span class="text2"></span>
          </div>
          <div class="email2">
            <span class="fas fa-envelope"></span>
            <span class="text2"></span>
          </div>
        </div>
    </div>
      <!-- MIDDLE -->
     


      <div class="footer-section address">
          <h2> Support</h2>
          <br>
          <div class="content">
            <div class="place">
              <span class="fas fa-map-marker-alt"></span>
              <span class="text2">
                Help Center</span>
            </div>
            <div class="phone">
              <span class="fas fa-phone-alt"></span>
              <span class="text2">Cancellation options</span>
            </div>
            <div class="email2">
              <span class="fas fa-envelope"></span>
              <span class="text2">2Safety information</span>
            </div>
          </div>
      </div>

      <!-- RIGHT SIDE -->


      <div class="footer-section contact">

          <h2>FEEDBACKS</h2>
          <br>
          <div class="content">
            <form action="#">
              <div class="email2">
                <div class="text2">Email *</div>
                <input type="email" required>
              </div>
              <div class="msg">
                <div class="text2">Message *</div>
                    <input type="text" cols="10" rows="5" placeholder="Message here..." required></input>
                </div>
          
              <div class="f-btn">
                <button type="submit">Send</button>
              </div>
            </form>
          </div>
      </div>
  </div>
  <div class="footer-bottom">
       <span class="credit">Created By <a style="color:white"> |Binesh Burja Magar|</a> </span>
      <span class="far fa-copyright"></span><span> 2022 All rights reserved.</span>

  </div>
</div> 
</footer>
{%endblock%} {% endcomment %}