{%load static%}
{%block css%}
<link rel="stylesheet" href="{%static '/css/footer.css'%}"/>
{%endblock%}
<!--FOOTER SECTION -->

<footer>
<div class="footer">
  <div class="footer-content">

      <!-- LEFT SIDE -->
      <div class="footer-section about">
          <h2>25 HOURS<br></h2>
          <div class="content">
           
            <div class="social">
              <!-- social media logos -->
              <a href="#"><span class="fab fa-facebook-f"></span></a>
              <a href="#"><span class="fab fa-instagram"></span></a>
              
            </div>
          </div>
      </div>

      <!-- MIDDLE -->
      <div class="footer-section address">
          <h2>ADDRESS</h2>
          <br>
          <div class="content">
            <div class="place">
              <span class="fas fa-map-marker-alt"></span>
              <span class="text2">Kathmandu, Nepal</span>
            </div>
            <div class="phone">
              <span class="fas fa-phone-alt"></span>
              <span class="text2">0666666</span>
            </div>
            <div class="email2">
              <span class="fas fa-envelope"></span>
              <span class="text2">25Hours@gmail.com</span>
            </div>
          </div>
      </div>

      <!-- RIGHT SIDE -->


      <div class="footer-section contact">

          <h2>FEEDBACKS</h2>
          <br>
          <div class="content">
            <form action="#">
              <div class="email2">
                <div class="text2">Email *</div>
                <input type="email" required>
              </div>
              <div class="msg">
                <div class="text2">Message *</div>
                    <textarea cols="10" rows="5" placeholder="Message here..." required></textarea>
                </div>
          
              <div class="btn">
                <button type="submit">Send</button>
              </div>
            </form>
          </div>
      </div>
  </div>
  <div class="footer-bottom">
       <span class="credit">Created By <a style="color:white"> |Binesh Burja Magar|</a> </span>
      <span class="far fa-copyright"></span><span> 2022 All rights reserved.</span>

  </div>
</div> 
</footer>