
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

    
    <link rel="stylesheet" href="{%static 'css/style.css'%}">
    <link rel="icon" href="{%static 'favicon/favicon.ico'%}" type="image/x-icon">
    
    <title>25 Hours</title>
</head>
<body>
   
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="signup-form">
                
                 <form action="{%url 'ownerRegister' %}" method="POST" class="mt-5 border p-4 bg-light shadow">
                     {% csrf_token %}   
    
                
                    <h4 class="mb-5 text-secondary">Create Your Account</h4>
                    <div class="row">
                        <div class="mb-3 col-md-6">
                            <label>First Name<span class="text-danger">*</span></label>
                            <input type="text" name="first_name" class="form-control" placeholder="Enter First Name">
                        </div>

                        <div class="mb-3 col-md-6">
                            <label>Last Name<span class="text-danger">*</span></label>
                            <input type="text" name="last_name" class="form-control" placeholder="Enter Last Name">
                        </div>
                        <div class="mb-3 col-md-6">
                            <label>Email<span class="text-danger">*</span></label>
                            <input type="text" name="email" class="form-control" placeholder="Enter Email">
                        </div>
                        <div class="mb-3 col-md-6">
                            <label> Username<span class="text-danger">*</span></label>
                            <input type="text" name="username" class="form-control" placeholder="Enter Username">
                        </div>
                        <div class="mb-3 col-md-6">
                            <label>Hotel Name<span class="text-danger">*</span></label>
                            <input type="text" name="hotel_name" class="form-control" placeholder="Enter Hotel Name">
                        </div>

                        <div class="mb-3 col-md-12">
                            <label>Password<span class="text-danger">*</span></label>
                            <input type="password" name="password" class="form-control" placeholder="Enter Password">
                        </div>
                        
                        <div class="col-md-12">
                           <button class="btn btn-primary float-end">Signup Now</button>
                        </div>
                    </div>
                </form>
                <p class="text-center mt-3 text-secondary">If you have account, Please <a href="#">Login Now</a></p>
            </div>
        </div>
    </div>
</div>
    
</body>
</html>