{%block content%}
<h1>
    Hello,{{user.username}}
   
</h1>
<h2>
YOUR'S DETAILS HERE
</h2>
<table style="width:50%">
    
    <tr>
      <th>Room Number</th>
      <th>Place Name</th>
      <th>Room Price</th>
      <th>Room Description</th>
    </tr>
    {% if data %}
    {% for datas in data %}
    <tr>
      <td>{{datas.room_number}}</td>
      <td>{{datas.place_name}}</td>
      <td>{{datas.room_price}}</td>
      <td>{{datas.room_desc}}</td>
    </tr>
    {% endfor %}
{% endif %}

  </table>
  <style>
    table, th, td {
      border:1px solid black;
    }
    </style>



{%endblock content%}
