{% extends 'base.html' %}
{%load static%}
{%block content%}


<div class="container" style="margin-top:70px ;">
<div class="row">
  <h2>SEARCH RESULTS:</h2>
  {%if rooms %}      
  {%for room in rooms%}
  <div class="col-md-4 mb-3 ">
    <div class="card">
      {% if room.cover_image %}
      <div class="card-img-top" style="background-image: url({{room.cover_image.url}});">
      </div>
      {% else %}
      {%endif%}


      <div class="card-body d-flex flex-column">
        <h3 class="card-title"> {{room.place_name }}</h3>
        <h5 class="card-title"> RS {{room.room_price }}/ Night</h5>
        <div class="d-flex">
          <a href="{%url 'details' room.id%}" class="btn btn-primary mt-auto align-self-start">View Details</a>
          <a href="#" class="btn btn-primary mt-auto align-self-start">Book now</a>
        </div>
      </div>
    </div>
    
  </div>
    {%endfor%}
    {%else%}
   

    <p>No search results</p>
     <p>Your search <b>{{query}}</b> didn't match any documents.</p>
    <br>
    Suggestions:
    Please try different keywords.

    {%endif%}
     
  
</div>
</div>

{%endblock content%}
