

{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{%static 'favicon/favicon.ico'%}" type="image/x-icon">
    <link rel="stylesheet" href="{%static 'css/loginSignup.css'%}">
    <title>Signup</title>
</head>

<body style="background-color: #fff;">


<div class="container">
    <div class="content">
      <a href="{%url 'home'%}" class="logo">
       25 Hours
      </a>
      <div class="image"></div>
      <div class="text">
        WELCOME TO 25HOURS
      </div>
    </div>
    <form id="form" action="/signup" method="POST">
        {% csrf_token %}
      <div class="social">
        <div class="title">Get Started</div>



        <div>
          <label for="first name">First Name</label>
          <i class="fas fa-user"></i>
          <input type="text" name="first_name" id="FirstName" placeholder="Enter your First Name" required />
          <i class="fas fa-exclamation-circle failure-icon"></i>
          <i class="far fa-check-circle success-icon"></i>
          <div class="error"></div>
        </div>


        <div>
          <label for="first name">Last Name</label>
          <i class="fas fa-user"></i>
          <input type="text" name="last_name" id="LastName" placeholder="Enter your Last Name" required />
          <i class="fas fa-exclamation-circle failure-icon"></i>
          <i class="far fa-check-circle success-icon"></i>
          <div class="error"></div>
        </div>



      <!-- /**
            * ! user name Input here
           **/ -->

      <div>
        <label for="username">User Name</label>
        <i class="fas fa-user"></i>
        <input type="text" name="username" id="User" placeholder="Enter username" required />
        <i class="fas fa-exclamation-circle failure-icon"></i>
        <i class="far fa-check-circle success-icon"></i>
        <div class="error"></div>
      </div>

       <!-- /**
            * ! Email Input here
           **/ -->

      <div>
        <label for="email">Email</label>
        <i class="far fa-envelope"></i>
        <input type="email" name="email" id="email" placeholder="abc@gmail.com" required />
        <i class="fas fa-exclamation-circle failure-icon"></i>
        <i class="far fa-check-circle success-icon"></i>
        <div class="error"></div>
      </div> 

      <!-- /**
            * ! Password Input here
           **/ -->

      <div>
        <label for="password">Password</label>
        <i class="fas fa-lock"></i>
        <input type="password" name="password1" id="password" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*_=+-]).{8,12}$" placeholder="Password here" required />
        <i class="fas fa-exclamation-circle failure-icon"></i>
        <i class="far fa-check-circle success-icon"></i>
        <div class="error"></div>
      </div>

      <div>
        <label for="password">Password</label>
        <i class="fas fa-lock"></i>
        <input type="password" name="password2" id="password" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*_=+-]).{8,12}$" placeholder="Confirm Password here"  required/>
        <i class="fas fa-exclamation-circle failure-icon"></i>
        <i class="far fa-check-circle success-icon"></i>
        <div class="error"></div>
      </div>

      <button type="submit"value="submit" id="submit">Signup</button>
    </form>
    <br>
    <div class="question">
        Already Have an Account? <br/>
        <a href="{%url 'log'%}"><span>Login</span></a>
      </div>
  </div>












